@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-light-webfont.eot');
    src: url('quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-light-webfont.woff') format('woff'),
         url('quicksand-light-webfont.ttf') format('truetype'),
         url('quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hovereffect:hover {
  opacity: 0.5;
}

body {
background-color: #FFFFFF;
}

.fullimg {
    float:left;
    width:50%;
}

.description {
    float:left;
    width:50%;
    font-family: 'quicksandlight';
    letter-spacing: -2px;
    color: #FFFFFF;
    font-size: 30px;
    text-align:center;
    margin-top: 70px;
}

.viewhere {
    width:150px;
}    

.fullimage {
      width:100%;
  }

.fullimginner {
}

.descriptioninner {
    padding: 0px 0px 0px 0px;
}    
    
.black_overlay{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 400%;
            height: 400%;
            background-color: #FFFFFF;
            z-index:4;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
.white_content {
            position: fixed;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 300px;
            padding: 0px;
            border: 5px solid #3d3d3d;
            background-color: #95aad6;
            z-index:5;
            overflow: auto;
            font-family:Helvetica;
            font-size: 11pt;
            text-align: left;
} 



#cross {
    position:fixed;
    width: 6%;
    max-width: 60px;
    min-width: 40px;
    border: 5px solid #3d3d3d;
    left: 25%;
    bottom: 77%;
    display:block;
    z-index:999999999;
}

#title {
  font-family:Verdana;
  font-weight:bold;
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    

a:link {
  color:#000000;
  text-decoration:none;
  font-weight:bold;
  font-size: 11pt;
}  

a:visited {
  color:#000000;
  text-decoration:none;
  font-weight:bold;
  font-size: 11pt;
}  

#close {
  text-align: left;
    background-color:#d85b5b ;
}

@media screen and (max-width: 850px) {
  
#title {
    width:400px;
    }
    
#container {
    width:401px;
  }
  
.fullimage {
      width:100%;
  }
    
.fullimg {
    width:100%;
}
    
.description {
    margin-top: 10px;
    width:100%;
    font-size: 50px;
}  
  
#mainsvg {
  width: 450px;
  height: 1500px;
}  
.group4 {
  display:none;
}  
.white_content {
    left:15%;
    width:65%;
    height:50%;
}
#cross {
left:15%;
}
.viewhere {
    width:250px;
}    

}
  
@media screen and (max-width: 965px) {
  
.extra {
  display:none; 
}  
  
}
